body{
    margin: 0;
    padding:0%;
    font-family: Tahoma
}

.secao-topo {
    background-color: #afddfb;
    font-family: 'Tahoma';
    align-content: center
}

.imagem-logotipo {
    width: 150px;
    display: block;
    margin: auto
    }

div p {
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center
}

.link-topo {
    font-size: 18px;
    color: #1d1d1d;
    border-bottom: 2px solid #1d1d1d;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    padding: 0 10px
}

    .secao-banner {
        display: flex;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px
        }


span {
    color: #afddfb;
}

#sobre h2 {
    color:#afddfb
}

#servicos span {
    color:#FFFF00;
}

#contato span {
    color:#FFFF00
}
