
body{
    margin: 0;
    padding:0%;
    font-family: Tahoma
}

/*=== Estilos Globais ===*/
.secao {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.paragrafo {
    font-size: 18px;
    text-align: justify;
    line-height: 28px;
    margin: 10px auto;
    width: 980px;
 }


/*=== Seção 1 / Topo ===*/
.secao-topo {
    background-color: #afddfb;
    align-content: center
}

.imagem-logotipo {
    width: 150px;
    }

div p {
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center
}

.link-topo {
    font-size: 18px;
    color: #1d1d1d;
    border-bottom: 2px solid #1d1d1d;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    padding: 0 10px
}

/*=== Seção 2 / Banner ===*/
    .secao-banner {
        padding-top: 0;
        margin-top: 50px
        }


/*=== Estilos para destaques ===*/
span {
    font-weight: bold;
}

/*=== Seção 3  / Assinatura imóvel ===*/
h1 {
    color: #1d1d1d;
    margin-bottom: 5px;
}

h2 {
    font-weight: normal;
    color: #1c81c0;
    margin-top: 0;
}

.imagem-assinatura-imovel {
    width: 450px;
}

.texto-azul {
    color: #1d80c1;
}

/*=== Seção 4 / Serviços  ===*/

.servicos {
    background-color: #1d80c1;
}

.paragrafo-servicos {
    color: #ffffff;
    line-height: 42px;
    width: 700px;
    font-size: 22px;
    text-align: center
}

h3 {
    color:#ffffff;
    font-size: 28px;
    line-height: 42px;
}
.texto-amarelo {
    color:#fff81b;
}


.lista-servicos {
    width: 135px;
    margin: 40px auto 40px;

}

.item-lista-servicos {
    font-size: 22px;
    line-height: 42px;
    text-align: left;
    color: #fff
}
